.about {

    &-content {
        // position: relative;

        // &:nth-child(odd) .about-content-main{
        //     flex-direction: row;
        // }
        // &:nth-child(even) .about-content-main{
        //     flex-direction: row-reverse;
        // }

        // &-main {
            position:  relative;
            display: flex;
            width: 100vw;
            // height: 70vh;
            height: 40vw;
            color: #fff;
            margin: 5% 0;
            
            &:last-child {
                margin-bottom: 0;
            }
            &:nth-child(odd) {
                flex-direction: row-reverse;
            }
            &:nth-child(even) {
                flex-direction: row;

            }
    
    
            &-title {
                position: relative;
                width: 40%;
                
                & p {
                    position: absolute;
                    // top: 0;
                    // left: 0;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 3rem;
                    letter-spacing: 30%;
                }
            }
            &-description {
                position: relative;
                width: 60%;
                background-size: cover;
                letter-spacing: 5px;
    
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background-color: rgba(0,0,0, .5);
                } 

                & > * {
                    position: absolute;
                    top: 85%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                & p {
                    font-size: 1.5rem;
                    line-height: 150%;
                    top: 20%;
                    width: 80%;
                }
            }
        // }

    }
}