.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #555;
    width: 100%;
    height: 170px;

    &-logo {
        margin-left: 3%;
        width: 20%;
        & img {
            width: 80%;
        }
    }

    &-nav {

    }

}