body, * {
    margin: 0;
    padding: 0;
}

a {
    &:link,
    &:active,
    &:visited {
        text-decoration: none;
        color: #444;
        transition: all 0.2s;
    }
}


@import "header";
@import "home";
@import "about";